.go-live {
  width: 91.276px;
  height: 105.439px;
  border-radius: 3.934px;
  background: #fff;
}
.story-cards {
  width: 91.276px;
  height: 110px;
  border-radius: 3.934px;
  background: #fff;
}
.go-live-text {
  color: #838383;
  font-family: Inter;
  font-size: 9.442px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.story-name {
  color: #fff;
  font-family: Inter;
  font-size: 7.869px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.makepost {
  border-radius: 3.934px;
  background: #fff;
}
.post-input {
  color: #979797;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn-draft {
  display: flex;
  height: 17.417px;
  padding: 0px 5.5px;
  justify-content: center;
  align-items: center;
  gap: 3.667px;
  border-radius: 1.833px;
  background: #eff2fc;
  color: #838383;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stories-container {
  scroll-behavior: smooth;
  z-index: 2 !important;
}
.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
