.comment-name {
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
  line-height: 9.74px;
  letter-spacing: -0.015446806326508522px;
  text-align: center;
}
.comment {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 11.2px;
  letter-spacing: -0.015446806326508522px;
}
