@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dotPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-dots {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.loading-dots-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
  animation: dotPulse 1.4s infinite alternate;
}

.loading-dots-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots-dot:nth-child(3) {
  animation-delay: 0.4s;
}

html {
  scroll-behavior: smooth;
}

/* styles.css */

/* Hide the scrollbar by default */
.custom-scrollbar {
  scrollbar-width: 0; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background-color: #eff2fc; */
  border-radius: 10px;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  /* background-color: #eff2fc; */
  border-radius: 10px;
}


hr {
  border: none;
  border-top: 2px solid #D1D8E1;
  color: #D1D8E1;
  /* overflow: visible; */
  text-align: center;
  height: 5px;
}

/* hr::after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
} */